﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Profile.cshtml";
}

<div class="bg-main top-content">
    <div id="profile_v">
        <div class="row">
            <div class="col-md-8 clearfix">
                <div class="profile-img shadow-2 relative-box">
                    <div class="edit-foto" style="cursor: pointer;"><i class="icofont-pencil-alt-2"></i></div>
                </div>

                <div class="profile-top">
                    <h5 class="no-margin">Muhammad Luthfi Aziz<span class="text-muted text-small">11198</span></h5>
                    <div class="text-muted semibold">Programmer</div>
                    <!-- <div class="text-smaller"><i class="icofont-user mr-5"></i> Islam</div>  -->
                    <div>Unit</div>
                    <div class="text-smaller mt-10"><i class="icofont-birthday-cake mr-5"></i>25-071997</div>
                    <div class="text-smaller">
                        <i class="icofont-birthday-cake mr-5"></i>24 tahun
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow overflow-hidden">
            <div class="card-body">
                <ul class="nav nav-tabs side-tab" id="myTab" role="tablist">
                    <!-- <li class="nav-item">
                        <a class="nav-link active tab-proses" id="perorangan-tab" data-toggle="tab" href="#perorangan" role="tab" aria-controls="perorangan" aria-selected="true"><i class="icofont-user"></i><span class="d-none d-sm-inline-block ml-5"> Personal</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active tab-proses" id="pendidikan-tab" data-toggle="tab" href="#pendidikan" role="tab" aria-controls="pendidikan" aria-selected="false"><i class="icofont-graduate"></i><span class="d-none d-sm-inline-block ml-5"> Pendidikan</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-proses" id="jabatan-tab" data-toggle="tab" href="#jabatan" role="tab" aria-controls="jabatan" aria-selected="false"><i class="icofont-businessman"></i><span class="d-none d-sm-inline-block ml-5"> Jabatan</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-proses" id="pelatihan-tab" data-toggle="tab" href="#pelatihan" role="tab" aria-controls="pelatihan" aria-selected="false"><i class="icofont-user-suited"></i><span class="d-none d-sm-inline-block ml-5"> Training</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-proses" id="penghargaan-tab" data-toggle="tab" href="#penghargaan" role="tab" aria-controls="penghargaan" aria-selected="false"><i class="icofont-medal"></i><span class="d-none d-sm-inline-block ml-5"> Penghargaan</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-proses" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="false"><i class="icofont-chart-line-alt"></i><span class="d-none d-sm-inline-block ml-5"> Performance</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-proses" id="keluarga-tab" data-toggle="tab" href="#keluarga" role="tab" aria-controls="keluarga" aria-selected="false"><i class="icofont-user-suited"></i><span class="d-none d-sm-inline-block ml-5"> Keluarga</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-proses" id="sanksi-tab" data-toggle="tab" href="#sanksi" role="tab" aria-controls="sanksi" aria-selected="false"><i class="icofont-user-suited"></i><span class="d-none d-sm-inline-block ml-5"> Sanksi</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card shadow overflow-hidden">
            <div class="tab-content jm-tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="pendidikan" role="tabpanel" aria-labelledby="pendidikan-tab">
                </div>

                <div class="tab-pane fade" id="jabatan" role="tabpanel" aria-labelledby="jabatan-tab">
                </div>

                <div class="tab-pane fade" id="penghargaan" role="tabpanel" aria-labelledby="penghargaan-tab">
                </div>

                <div class="tab-pane fade" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                </div>

                <div class="tab-pane fade" id="pelatihan" role="tabpanel" aria-labelledby="pelatihan-tab">
                </div>

                <div class="tab-pane fade" id="Classification" role="tabpanel" aria-labelledby="Classification-tab">
                </div>

                <div class="tab-pane fade" id="masterpiece" role="tabpanel" aria-labelledby="masterpiece-tab">
                </div>

                <div class="tab-pane fade" id="komunitas" role="tabpanel" aria-labelledby="komunitas-tab">
                </div>

                <div class="tab-pane fade" id="kompetensi" role="tabpanel" aria-labelledby="kompetensi-tab">
                </div>

                <div class="tab-pane fade" id="keluarga" role="tabpanel" aria-labelledby="keluarga-tab">
                </div>

                <div class="tab-pane fade" id="sanksi" role="tabpanel" aria-labelledby="sanksi-tab">
                </div>
            </div>
        </div>
    </div>
</div>

