﻿@model CRUDDemo.Models.EmployeeInfo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Employee Information</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Company)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Departement)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID"/>
        <input type="submit" class="btn btn-danger" value="Delete"/>
        <a asp-action="Index">Back to list</a>
    </form>
</div>

