﻿@model CRUDDemo.Models.EmployeeInfo
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee Information</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Company)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Departement)
        </dt>
    </dl>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a asp-action="Index">Back To List</a>

</div>