/*!
 * CSS ini dibuat oleh Rizki Johan (https://instagram.com/rizzkijo)
 * Dilarang menyalin dan/atau menjual file CSS ini tanpa sepengetahuan pembuat
*/

/* Style copied from materializecss.com */
.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.hoverable:hover {
    -webkit-box-shadow: 0 20px 30px -12px rgba(0,0,0,0.35);
    box-shadow: 0 20px 30px -12px rgba(0,0,0,0.35);
}
/* END */

*, *:focus {outline: none;}
body {
    font-family: 'Muli', sans-serif !important;
    line-height: 1.5;
    letter-spacing: 0.5px;
    background-color: #f0f0f0;
}
.no-margin {margin: 0 !important;}
.no-padding {padding: 0 !important;}
.no-border {border: none !important;}
.mt-0 {margin-top: 0 !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-25 {margin-top:25px !important;}
.mt-30 {margin-top:30px !important;}
.mt-35 {margin-top:35px !important;}
.mt-40 {margin-top:40px !important;}
.mt-45 {margin-top:45px !important;}
.mt-50 {margin-top:50px !important;}
.mb-0 {margin-bottom:0 !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-25 {margin-bottom:25px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-35 {margin-bottom:35px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-45 {margin-bottom:45px !important;}
.mb-50 {margin-bottom:50px !important;}
.ml-0 {margin-left: 0 !important;}
.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.mr-0 {margin-right: 0 !important;}
.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.pt-0 {padding-top: 0 !important;}
.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}
.pr-0 {padding-right: 0 !important;}
.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}
.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}
.pb-0 {padding-bottom: 0 !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pl-0 {padding-left: 0 !important;}
.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}
.small-pad {padding: 7px !important;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
.relative-box {position: relative;}
.overflow-hidden {overflow: hidden;}
.text-def-color {color: #212529 !important;}
.fat {font-weight: 900 !important;}
.bold {font-weight: 700 !important;}
.semibold {font-weight: 600 !important;}
.regular {font-weight: 400 !important;}
.thin {font-weight: 300 !important;}
.text-muted {
    opacity: 0.65;
    color: inherit !important;
}
.text-normal {font-size: 100%;}
.text-small {font-size: 70% !important;}
.text-smaller {font-size: 80% !important;}
.text-bigger {font-size: 110% !important;}
.text-big {font-size: 125% !important;}
.uppercase {text-transform: uppercase !important;}
.lowercase {text-transform: lowercase !important;}
.capitalize {text-transform: capitalize !important;}
.lh-1 {line-height: 1 !important;}
.lh-n {line-height: normal !important;}
.inline-block {display: inline-block;width: auto;}
img {max-width: 100%;}
.row {
    margin-right: -.75rem !important;
    margin-left: -.75rem !important;
}
.row.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.row.no-gutters > .col, .row.no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10,
.col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: .75rem;
    padding-left: .75rem;
}
.abs-rb {
    position: absolute;
    bottom: 0;
    right: 0;
}
.abs-lb {
    position: absolute;
    bottom: 0;
    left: 0;
}
.abs-rt {
    position: absolute;
    top: 0;
    right: 0;
}
.abs-lt {
    position: absolute;
    top: 0;
    left: 0;
}
.abs-right-0 {
    position: absolute;
    right: 0;
}
.valign-wrapper > .valign-box {width: 100%;}
.white-text {color: #ffffff !important;}
a.link-block {
    display: block;
    color: inherit;
    text-decoration: none;
}
.card {
    border:none;
    border-radius: 12px;
}
.card-body {padding: 24px !important;}
.card .card {border: 1px solid rgba(0,0,0,.15);}
.card-second {
    background-color: rgba(0,0,0,.05);
    border: none !important;
}
a.card {
    color: #555555;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
a.card:hover {color: #595a65;}
.card, .berita-link {margin: 8px 0 17px;}
.btn {box-shadow: 0 10px 15px -8px rgba(0,0,0,.3);}
.btn-main, .btn-main:hover {
    background-color: #0092DC;
    color: #ffffff;
    box-shadow: 0 20px 20px -15px rgba(251,4,0,.3) !important;
}
.btn-second, .btn-second:hover {
    background-color: #8e9e36;
    color: #ffffff;
    box-shadow: 0 20px 20px -15px rgba(141,158,54,.3) !important;
}
.btn-outline, .btn-outline:hover {
    background-color: transparent;
    color: #0092DC;
    border: 2px solid #0092DC;
    box-shadow: none;
    /*box-shadow: 0 10px 15px -8px rgba(0, 108, 184,.3);*/
}
.btn-outline-white, .btn-outline-white:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: none;
    /*box-shadow: 0 10px 15px -8px rgba(0, 108, 184,.3);*/
}
.btn-white, .btn-white:hover {
    background-color: #ffffff;
    color: #0092DC;
    box-shadow: 0 20px 20px -15px rgba(0,0,0,.3) !important;
}
.btn-link, .btn-link:hover {
    color: #666666;
    background-color: rgba(0,0,0,.1);
    text-decoration: none !important;
    box-shadow: none !important;
}
.btn-ghost, .btn-ghost:hover {
    background-color: #e74a3b;
    color: #fff;
    box-shadow: none !important;
}
.btn-dark, .btn-dark:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,.3);
    box-shadow: none;
    border-color: transparent;
}
.btn-trans {background-color: transparent !important;}
.main-color {color: #0092DC !important;}
.second-color {color: #99ADBE !important;}
.bg-main {
    background-color: #0092DC;
    color: #ffffff;
}
.bg-second, .badge-notif {
    background-color: #99ADBE;
    color: #ffffff;
}
.full-height {height: 100%;}
.full-width {width: 100% !important;}
.full-vh {height: 100vh;}
.btn.disabled, .btn:disabled {cursor: not-allowed;}
.shadow-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.shadow-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.shadow-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.login-page {background-color: #ffffff;}
.bg-login {
    position: relative;
    background-image: url(../img/bg-login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-login:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0,146,220,.8);
    z-index: 0;
}
.bg-login > div {
    position: relative;
    z-index: 1;
}
.site-login {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
}
.right-login {
    /*position: relative;
    background-color: #ffffff;
    background-image: url(../img/bg-login.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    color: #ffffff;
    /*border-radius: 15px;
    overflow-x: hidden;
    box-shadow: 0 18px 30px -15px rgba(0,0,0,.25);*/
}
.right-login:before {
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(255,255,255,.8);*/
}
.right-login > div {
    position: relative;
    z-index: 1;
}
.logo {height: 80px;}
.logo-app {
    width: 200px;
}
.logo-login {
    display: block;
    margin: 0 auto;
    height: 25px;
}
.logo-pertamina {
    display: block;
    margin: 10px auto 0;
}
.site-login .field-loginform {
    border: 1px solid #ababab;
    padding-left: 40px;
    background: #ffffff;
    border-radius: 50px;
    /*box-shadow: 0 13px 16px -14px rgba(0,0,0,.25);*/
}
.site-login .field-loginform > i {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 18px;
    color: #4c4c4c;
}
.site-login .form-control {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    color: #333333;
    border-radius: 0 50px 50px 0;
}
.site-login .form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.site-login .form-group > label {
    margin: 0;
    line-height: 1;
    position: absolute;
    top: 11px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: text;
}
.site-login .form-group > label.moveUp {
    -webkit-transform: translateX(-20px) translateY(-19px) scale(0.7);
    transform: translateX(-20px) translateY(-19px) scale(0.7);
    background: #ffffff;
    padding: 0 10px;
}
#sidebarToggle {
    color: #ffffff;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.sidebar-dark.toggled #sidebarToggle {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sidebar #sidebarToggle::after {display: none !important;}
.link-jump {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.link-jump:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.link-jump:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}
.berita-link {
    display: block;
    color: inherit;
    text-decoration: none;
    border-radius: 3px;
    overflow: hidden;
}
.img-berita {
    position: relative;
    padding-top: 56.25%;
    background-color: rgba(0,0,0,.15);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #ffffff;
}
.img-berita > .berita-attr {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 7px 10px;
    background-color: rgba(0,0,0,.5);
    color: #ffffff;
}
.berita-attr > .judul-berita {
    font-size: 18px;
    font-weight: 700;
}
.berita-attr > .text-berita {
    font-size: 85%;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-link {padding-right: 0 !important}
.navbar-white {background-color: #ffffff;}
.navbar-nav .nav-link > i {font-size: 20px;}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {color: #0092DC;}
.sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
    border: 2px solid #ffffff;
    border-radius: 50%;
}
.nav-tabs.jm-tab {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgba(0,0,0,.015);
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.nav-pills.jm-tab {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
}
.nav-tabs.jm-tab .nav-item, .nav-pills.jm-tab .nav-item {display: inline-block;}
.nav-tabs.jm-tab .nav-item > .nav-link {
    color: rgba(0,0,0,.5);
    font-weight: 600;
    border: none;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-tabs.jm-tab .nav-item > .nav-link:hover {color: #333333;}
.nav-tabs.jm-tab .nav-item.show .nav-link, .nav-tabs.jm-tab .nav-item .nav-link.active {
    background-color: #ffffff;
    color: #333333;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
}
.nav-tabs.jm-tab .nav-item:first-child .nav-link.active {border-left: none}
.nav-pills.overflow {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    display: block;
}
.nav-pills.overflow > .nav-item {display: inline-block;}
.nav-pills > .nav-item + .nav-item {margin-left: 5px;}
.nav-pills .nav-link {box-shadow: 0 10px 15px -8px rgba(0,0,0,.2);}
.nav-pills .nav-link.active {box-shadow: 0 10px 15px -8px rgba(0,70,137,.3);}
.nav-pills .nav-link:hover {background-color: #f9f9f9;}
.btn-action {
    background-color: rgba(0,0,0,.075);
    color: #333333;
    padding: 5px 7px;
    font-size: 80%;
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/*.btn-action:hover {background-color: rgba(0,0,0,.1);}*/
.btn-action.view, .btn-action.view:hover {
    background-color: #98da80;
    color: #ffffff;
}
.btn-action.edit, .btn-action.edit:hover {
    background-color: #ffa200;
    color: #ffffff;
}
.btn-action.delete, .btn-action.delete:hover {
    background-color: #ff4c4c;
    color: #ffffff;
}
.table thead th {
    background-color: rgba(0,0,0,.035);
    color: #333333;
    font-weight: 600;
}
.table tbody > tr:last-child > td {border-bottom: 1px solid #e3e6f0;}
.btn-act-rb {
    position: fixed;
    bottom: 65px;
    right: 16px;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffcb05;
    color: #ffffff !important;
    text-decoration: none !important;
}
.inbox-wrapper {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.inbox-item {position: relative;}
.inbox-item + .inbox-item {border-top: 1px solid rgba(0,0,0,.1);}
.inbox-item > a {
    display: block;
    color: #333333;
    text-decoration: none !important;
    padding: 5px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.inbox-item:hover > a {box-shadow: 0 0 0 2px #0092DC;}
.inbox-item .img-inbox {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.inbox-item .inbox-attr {
    float: left;
    width: 185px;
    padding: 0 10px 0 20px;
}
.inbox-attr .inbox-nama, .inbox-attr .inbox-jbtn {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-weight: 600;
}
.inbox-attr .inbox-jbtn {
    font-size: 75%;
    opacity: 0.55;
}
.inbox-item .inbox-text {
    float: left;
    width: calc(100% - 220px);
    padding-left: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
}
.inbox-item:hover .inbox-text {padding-right: 50px;}
.inbox-action {
    position: absolute;
    right: 5px;
    top: 9px;
    display: none;
}
.inbox-item:hover .inbox-action {display: block;}
.inbox-item.new > a {background-color: rgba(0,0,0,.035);}
.inbox-item.new .inbox-text {font-weight: 700;}
.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.15) !important;
    border-radius: .35rem !important;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.nav-pills.iconic .select2-container--default .select2-selection--single {
    height: calc(1.5em + .75rem + 6px) !important;
    padding: .5rem .75rem;
}
.nav-pills.iconic .search-bar > .search-input > button {height: 42px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 1.5 !important}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: calc(1.5em + .75rem) !important;}
#loader-inside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99999;
    display: none;
}
#loader-inside img {width: 80px;}
.profile-wrapper {margin-top: -24px;}
.profile-cover {
    position: relative;
    padding: 3% 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    color: #ffffff;
}
.profile-cover:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0,0,0,.9);
    z-index: 0;
}
.profile-img {
    position: relative;
    display: block;
    float: left;
    width: 130px;
    height: 130px;
    border-radius: 25px;
    background-color: rgba(0,0,0,.25);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}
.profile-top {
    float: left;
    width: calc(100% - 130px);
    position: relative;
    padding: 0 0 0 25px;
    z-index: 1;
}
.profile-top .badge {
    font-size: 85%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.badge {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}
.navbar {z-index: 2;}
.tl-item {
    position: relative;
    padding-left: 25px;
}
.tl-item + .tl-item {padding-top: 20px;}
.tl-item:before {
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    width: 3px;
    content: "";
    background-color: rgba(0,0,0,.25);
    z-index: 0;
}
.tl-item:after {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 3px solid red;
    border-radius: 50%;
    content: "";
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    z-index: 1;
}
.tl-item + .tl-item:after {top: 23px;}
.jm-tab-content {padding: 20px 15px;}
.skill-high {
    background-color: #ffd700;
    color: #ffffff;
}
.skill-med {
    background-color: #ff8c00;
    color: #ffffff;
}
.skill-low {
    background-color: #c0c0c0;
    color: #ffffff;
}
.form-group > label {
    font-weight: 600;
    font-size: 90%;
}
.page-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.card .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}
.page-title > i {margin-right: 5px;}
.dataTables_wrapper .row {margin: 0 !important;}
.dataTables_wrapper div[class^='col-'] {padding: 0 !important;}
.progress {height: 1.3rem !important;}
.progress .progress-number {
    height: 1.3rem;
    line-height: 1.44rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
/*.info-img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.25);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}*/
.info-img {
    display: block;
    margin: 0 auto 15px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #d8d8d8;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.info-img.med {
    width: 80px;
    height: 80px;
}
.info-right {
    float: left;
    width: calc(100% - 60px);
    padding-left: 10px;
}
.info-img.med + .info-right {width: calc(100% - 80px);}
.table-info-talent, .nine-box-container {width: 100%;}
.table-info-talent tr > td:first-child {width: 25px;}
.table-info-talent tr > td {
    vertical-align: top;
    line-height: 1.2;
}
.table-info-talent tr + tr > td {padding-top: 5px;}
.nine-box-container td {
    padding: 0;
    height: 135px;
    text-align: center;
}
.nine-box-container td > .valign-wrapper {
    height: 100%;
    white-space: nowrap;
    padding: 5px;
}
.nav-pills.iconic .nav-link > .label {
    display: inline-block;
    white-space: nowrap;
    max-width: 0;
    vertical-align: bottom;
    overflow-x: hidden;
    -webkit-transition: max-width 0.25s ease-in-out;
    transition: max-width 0.25s ease-in-out;
}
.nav-pills.iconic .nav-link > i {font-size: 22px;}
.nav-pills.iconic .nav-link.active > .label {
    width: auto;
    max-width: 500px;
    margin-left: 5px;
}
.fp-img {
    float: left;
    width: 85px;
    height: 85px;
    background-color: rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 15px;
}
.fp-info {
    float: left;
    width: calc(100% - 85px);
    padding-left: 10px;
}
table.fp-table {width: 100%;}
table.fp-table tbody > tr:first-child > td {min-width: 27px;}
table.fp-table td {vertical-align: top;}
.top-menu > .nav-item > .nav-link > i {
    display: inline-block;
    font-size: 30px;
}
.top-menu > .nav-item > .nav-link > .menu-name {
    display: inline-block;
    word-break: initial;
    padding-left: 5px;
    line-height: 1.3;
    font-size: 12px;
    font-weight: 600;
}
.strek-input {
    display: block;
    cursor: pointer;
}
.strek-input > input[type="radio"] {display: none;}
.strek-input > .strek-value {
    height: 80px;
    padding: 10px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.strek > div > .strek-input > .strek-value {border: 1px solid #0092DC;}
.strek > div:first-child > .strek-input > .strek-value {border-radius: 5px 0 0 5px;}
.strek > div:last-child > .strek-input > .strek-value {border-radius: 0 5px 5px 0;}
.strek > div + div > .strek-input > .strek-value {border-left: none;}
.strek-input > input[type="radio"]:checked + .strek-value {
    background-color: #0092DC;
    color: #ffffff;
}
table.strek-table {width: 100%;}
table.strek-table tr > td:first-child {width: 45px;}
.topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99 !important;
}
.sidebar {
    position: relative;
    padding-top: 4.375rem;
    box-shadow: 10px 0 20px -15px rgba(0,0,0,.15);
}
.sidebar .collapse > .collapse-inner {background-color: rgba(0,0,0,.035)!important;}
#content {
    padding-top: calc(4.375rem + 2rem);
    padding-bottom: 2rem;
}
.search-engine {
    margin-bottom: 20px !important;
    padding-bottom: 2rem !important;
    position: sticky;
    top: 0px;
    z-index: 10;
}
/*.search-engine > #search-talent-form {
    background: #f0f0f0;
    padding: 15px 24px;
    margin-top: -15px;
    z-index: 3;
}*/
.sidebar-toggled .search-engine > #search-talent-form {width: calc(100% - 6.5rem)}
.search-bar > .search-input {
    float: left;
    width: 470px;
    position: relative;
}
.search-bar > .search-input > button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: transparent;
    color: rgba(0,0,0,.4);
    outline: none !important;
    box-shadow: none;
}
.search-bar > .search-input > button:hover {color: rgba(0,0,0,.55);}
.search-bar .select2-container {width: 100% !important;}
.search-bar .select2-selection__arrow {display: none !important;}
#advance-search {
    height: 0;
    max-height: 0;
    overflow:hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#advance-search.open {
    height: auto;
    max-height: 1000px;
}
.advance-search {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid rgba(0,0,0,.1);
}
/*.tampil {padding-top: 60px;}*/
.btn-login {
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 15px 22px -10px rgba(210,14,33,.2);
}
.range-input .form-control {width: 50px !important;}
.classi-top-tools {
    position: sticky;
    top: 70px;
    background: #f6f6f6;
    z-index: 2;
    padding: 10px 0;
}
.classi-dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
.classi-options {
    display: block;
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: rgba(0,0,0,.07);
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.classi-options:hover {background-color: rgba(0,0,0,.15);}
.classi-options.dropdown-toggle::after {display: none;}
.classi-options > .option-dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    margin: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.classi-options > .option-dot + .option-dot {margin-top: 1px;}
.dropdown .dropdown-menu {box-shadow: 0 10px 20px -10px rgba(0,0,0,.15);}
.table-classi {width: 100%;}
.table-classi tr > td {padding: 0;}
.table-classi tr > td:last-child {text-align: right;}
.table-classi td i {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 70%;
    line-height: 20px;
    text-align: center;
    background-color: #555;
    color: #ffffff;
    border-radius: 50%;
}
.table-classi td .text-success i {background-color: #1cc88a;}
.table-classi td .text-danger i {background-color: #e74a3b;}
ul.inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.inline > li {display: inline-block;}
ul.inline > li + li {margin-left: 20px;}
.badge-class {
    background-color: #999999;
    color: #ffffff;
}
.badge-class.unfit {
    background-color: #7b7b7b;
    color: #ffffff;
}
.badge-class.sleeping-tiger {
    background-color: #ffbff1;
    color: #000000;
}
.badge-class.solid-contributor {
    background-color: #49b148;
    color: #000000;
}
.badge-class.promotable {
    background-color: #ffa000;
    color: #000000;
}
.badge-class.road-runner {
    background-color: #1a00ac;
    color: #ffffff;
}
.edit-foto {
    position: absolute;
    right: -10px;
    top: -5px;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    background-color: #34b8fb;
    border-radius: 50%;
    border: 2px solid #0092dc;
    /*box-shadow: 0 10px 20px -8px rgba(0,0,0,.5);*/
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.edit-foto:hover {background-color: #e4b607;}
.delete-foto {
    position: absolute;
    right: -15px;
    top: -10px;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    background-color: #ff3c3c;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 10px 20px -8px rgba(0,0,0,.5);
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.table {
    color: inherit !important;
    background-color: #ffffff;
}
.table.table-borderless {background-color: transparent;}
.delete-foto:hover {background-color: #ff0000;}
.choose-foto {
    position: relative;
    display: table;
    cursor: pointer;
    margin: 0 auto;
}
.choose-foto .watermark-foto {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.65);
    color: #ffffff;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.choose-foto:hover .watermark-foto {opacity: 1;}
.choose-foto + .table {border: none;}
.choose-foto + .table td {
    border: none !important;
    vertical-align: top !important;
    padding: 0;
    line-height: 1.1;
}
.kolom-ganti-foto {
    background-color: rgba(0,0,0,.07);
    padding: .75rem !important;
    border-radius: 10px;
}
.ptpbpx {
    position: relative;
    display: table;
}
.profile-img.pilih_foto {cursor: pointer;}
.profile-img.pilih_foto.active {border-color: #0092DC !important;}
.edit-btn {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 90%;
    text-align: center;
    background-color: #FFCB05;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgba(255, 203, 5, .8);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.edit-btn:hover {background-color: #e4b607;}
.edit-btn-person, .edit-btn-person:hover {
    position: absolute;
    right: 0;
    top: -.35rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 90%;
    text-align: center;
    background-color: #FFCB05;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgba(255, 203, 5, .8);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}
.pace {
    width: 500px !important;
    max-width: 100% !important;
    margin: 50px auto 30px !important;
    z-index: 2 !important;
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	z-index: 2000;
	position: relative;
	margin: auto;

	width: 100%;
	height: 50px;
	overflow: hidden;
}
.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	display: block;
	position: absolute;
	right: 100%;

	width: 100%;
	top: 7px;
	height: 14px;
	font-size: 12px;
	background: #0092DC;
	color: #0092DC;
	line-height: 60px;
	font-weight: bold;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

	-webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
	-ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
	box-shadow: 120px 0 #fff, 240px 0 #fff;
}
.pace .pace-progress:after {
	content: attr(data-progress-text);
	display: inline-block;
	position: fixed;
	width: 45px;
	text-align: right;
	right: 0;
	padding-right: 16px;
	top: 4px;
}
.pace .pace-progress[data-progress-text="0%"]:after { right: -200px }
.pace .pace-progress[data-progress-text="1%"]:after { right: -198.14px }
.pace .pace-progress[data-progress-text="2%"]:after { right: -196.28px }
.pace .pace-progress[data-progress-text="3%"]:after { right: -194.42px }
.pace .pace-progress[data-progress-text="4%"]:after { right: -192.56px }
.pace .pace-progress[data-progress-text="5%"]:after { right: -190.7px }
.pace .pace-progress[data-progress-text="6%"]:after { right: -188.84px }
.pace .pace-progress[data-progress-text="7%"]:after { right: -186.98px }
.pace .pace-progress[data-progress-text="8%"]:after { right: -185.12px }
.pace .pace-progress[data-progress-text="9%"]:after { right: -183.26px }
.pace .pace-progress[data-progress-text="10%"]:after { right: -181.4px }
.pace .pace-progress[data-progress-text="11%"]:after { right: -179.54px }
.pace .pace-progress[data-progress-text="12%"]:after { right: -177.68px }
.pace .pace-progress[data-progress-text="13%"]:after { right: -175.82px }
.pace .pace-progress[data-progress-text="14%"]:after { right: -173.96px }
.pace .pace-progress[data-progress-text="15%"]:after { right: -172.1px }
.pace .pace-progress[data-progress-text="16%"]:after { right: -170.24px }
.pace .pace-progress[data-progress-text="17%"]:after { right: -168.38px }
.pace .pace-progress[data-progress-text="18%"]:after { right: -166.52px }
.pace .pace-progress[data-progress-text="19%"]:after { right: -164.66px }
.pace .pace-progress[data-progress-text="20%"]:after { right: -162.8px }
.pace .pace-progress[data-progress-text="21%"]:after { right: -160.94px }
.pace .pace-progress[data-progress-text="22%"]:after { right: -159.08px }
.pace .pace-progress[data-progress-text="23%"]:after { right: -157.22px }
.pace .pace-progress[data-progress-text="24%"]:after { right: -155.36px }
.pace .pace-progress[data-progress-text="25%"]:after { right: -153.5px }
.pace .pace-progress[data-progress-text="26%"]:after { right: -151.64px }
.pace .pace-progress[data-progress-text="27%"]:after { right: -149.78px }
.pace .pace-progress[data-progress-text="28%"]:after { right: -147.92px }
.pace .pace-progress[data-progress-text="29%"]:after { right: -146.06px }
.pace .pace-progress[data-progress-text="30%"]:after { right: -144.2px }
.pace .pace-progress[data-progress-text="31%"]:after { right: -142.34px }
.pace .pace-progress[data-progress-text="32%"]:after { right: -140.48px }
.pace .pace-progress[data-progress-text="33%"]:after { right: -138.62px }
.pace .pace-progress[data-progress-text="34%"]:after { right: -136.76px }
.pace .pace-progress[data-progress-text="35%"]:after { right: -134.9px }
.pace .pace-progress[data-progress-text="36%"]:after { right: -133.04px }
.pace .pace-progress[data-progress-text="37%"]:after { right: -131.18px }
.pace .pace-progress[data-progress-text="38%"]:after { right: -129.32px }
.pace .pace-progress[data-progress-text="39%"]:after { right: -127.46px }
.pace .pace-progress[data-progress-text="40%"]:after { right: -125.6px }
.pace .pace-progress[data-progress-text="41%"]:after { right: -123.74px }
.pace .pace-progress[data-progress-text="42%"]:after { right: -121.88px }
.pace .pace-progress[data-progress-text="43%"]:after { right: -120.02px }
.pace .pace-progress[data-progress-text="44%"]:after { right: -118.16px }
.pace .pace-progress[data-progress-text="45%"]:after { right: -116.3px }
.pace .pace-progress[data-progress-text="46%"]:after { right: -114.44px }
.pace .pace-progress[data-progress-text="47%"]:after { right: -112.58px }
.pace .pace-progress[data-progress-text="48%"]:after { right: -110.72px }
.pace .pace-progress[data-progress-text="49%"]:after { right: -108.86px }
.pace .pace-progress[data-progress-text="50%"]:after { right: -107px }
.pace .pace-progress[data-progress-text="51%"]:after { right: -105.14px }
.pace .pace-progress[data-progress-text="52%"]:after { right: -103.28px }
.pace .pace-progress[data-progress-text="53%"]:after { right: -101.42px }
.pace .pace-progress[data-progress-text="54%"]:after { right: -99.56px }
.pace .pace-progress[data-progress-text="55%"]:after { right: -97.7px }
.pace .pace-progress[data-progress-text="56%"]:after { right: -95.84px }
.pace .pace-progress[data-progress-text="57%"]:after { right: -93.98px }
.pace .pace-progress[data-progress-text="58%"]:after { right: -92.12px }
.pace .pace-progress[data-progress-text="59%"]:after { right: -90.26px }
.pace .pace-progress[data-progress-text="60%"]:after { right: -88.4px }
.pace .pace-progress[data-progress-text="61%"]:after { right: -86.53999999999999px }
.pace .pace-progress[data-progress-text="62%"]:after { right: -84.68px }
.pace .pace-progress[data-progress-text="63%"]:after { right: -82.82px }
.pace .pace-progress[data-progress-text="64%"]:after { right: -80.96000000000001px }
.pace .pace-progress[data-progress-text="65%"]:after { right: -79.1px }
.pace .pace-progress[data-progress-text="66%"]:after { right: -77.24px }
.pace .pace-progress[data-progress-text="67%"]:after { right: -75.38px }
.pace .pace-progress[data-progress-text="68%"]:after { right: -73.52px }
.pace .pace-progress[data-progress-text="69%"]:after { right: -71.66px }
.pace .pace-progress[data-progress-text="70%"]:after { right: -69.8px }
.pace .pace-progress[data-progress-text="71%"]:after { right: -67.94px }
.pace .pace-progress[data-progress-text="72%"]:after { right: -66.08px }
.pace .pace-progress[data-progress-text="73%"]:after { right: -64.22px }
.pace .pace-progress[data-progress-text="74%"]:after { right: -62.36px }
.pace .pace-progress[data-progress-text="75%"]:after { right: -60.5px }
.pace .pace-progress[data-progress-text="76%"]:after { right: -58.64px }
.pace .pace-progress[data-progress-text="77%"]:after { right: -56.78px }
.pace .pace-progress[data-progress-text="78%"]:after { right: -54.92px }
.pace .pace-progress[data-progress-text="79%"]:after { right: -53.06px }
.pace .pace-progress[data-progress-text="80%"]:after { right: -51.2px }
.pace .pace-progress[data-progress-text="81%"]:after { right: -49.34px }
.pace .pace-progress[data-progress-text="82%"]:after { right: -47.480000000000004px }
.pace .pace-progress[data-progress-text="83%"]:after { right: -45.62px }
.pace .pace-progress[data-progress-text="84%"]:after { right: -43.76px }
.pace .pace-progress[data-progress-text="85%"]:after { right: -41.9px }
.pace .pace-progress[data-progress-text="86%"]:after { right: -40.04px }
.pace .pace-progress[data-progress-text="87%"]:after { right: -38.18px }
.pace .pace-progress[data-progress-text="88%"]:after { right: -36.32px }
.pace .pace-progress[data-progress-text="89%"]:after { right: -34.46px }
.pace .pace-progress[data-progress-text="90%"]:after { right: -32.6px }
.pace .pace-progress[data-progress-text="91%"]:after { right: -30.740000000000002px }
.pace .pace-progress[data-progress-text="92%"]:after { right: -28.880000000000003px }
.pace .pace-progress[data-progress-text="93%"]:after { right: -27.02px }
.pace .pace-progress[data-progress-text="94%"]:after { right: -25.16px }
.pace .pace-progress[data-progress-text="95%"]:after { right: -23.3px }
.pace .pace-progress[data-progress-text="96%"]:after { right: -21.439999999999998px }
.pace .pace-progress[data-progress-text="97%"]:after { right: -19.58px }
.pace .pace-progress[data-progress-text="98%"]:after { right: -17.72px }
.pace .pace-progress[data-progress-text="99%"]:after { right: -15.86px }
.pace .pace-progress[data-progress-text="100%"]:after { right: -14px }
.pace .pace-activity {
	position: absolute;
	width: 100%;
	height: 28px;
	z-index: 2001;
	box-shadow: inset 0 0 0 2px #0092DC, inset 0 0 0 7px #FFF;
	border-radius: 0;
}
.pace.pace-inactive {
	display: none;
}
.notif-search input {padding-right: calc(42px + .75rem);}
.notif-search .btn {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none !important;
}
.sidebar-notif {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar-notif > li > a {
    display: block;
    padding: 10px 15px;
    color: #666666;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.sidebar-notif > li > a:hover {background-color: rgba(0,0,0,.05);}
.sidebar-notif > li.active > a {
    background-color: #0092DC;
    color: #ffffff;
}
.sidebar-notif > li + li > a {border-top: 1px solid rgba(0,0,0,.1);}
.notif-wrapper {padding-left: 1rem;}
.table-inbox {
    width: 100%;
    max-width: 100%;
    margin: 0 0 25px;
}
.table-inbox tr.link-notif-box {
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.table-inbox tr.link-notif-box:hover {background-color: #f5f5f5;}
.table-inbox td {
    padding: 0;
    font-size: 14px;
}
.table-inbox tr:first-child > td {padding: 10px 15px;}
.table-inbox tr > td:first-child {
    padding-left: 10px;
    padding-right: 10px;
}
.table-inbox tr > td:last-child {position: relative;}
.table-inbox tr > td:nth-child(2) {font-weight: bold;}
.table-inbox tr + tr > td {border-top: 1px solid rgba(0,0,0,.15);}
.table-inbox td .link-notif {
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #666666;
    text-decoration: none;
}
.table-inbox td .link-notif.judul {max-width: 168px;}
.table-inbox td .link-notif.isi {max-width: 400px;}
.action-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 5px 10px;
    background-color: #f5f5f5f5;
    display: none;
}
.table-inbox tr.link-notif-box:hover .action-box {display: block;}
.penilaian-arrow-vertical {
    float: left;
    width: 40px;
}
.penilaian-nine-box {
    float: left;
    width: calc(100% - 40px);
}
.arrow-penilaian {
    position: relative;
    padding-bottom: 15px;
}
.arrow-penilaian:before {
    position: absolute;
    bottom: 5px;
    right: 15px;
    left: 0;
    height: 10px;
    background: #333333;
    content: "";
}
.arrow-penilaian:after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-width: 10px 0 10px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #333333;
    content: "";
}
.arrow-penilaian.vertical {
    position: relative;
    padding-top: 15px;
}
.arrow-penilaian.vertical:before {
    position: absolute;
    top: 15px;
    left: 5px;
    height: 225px;
    width: 10px;
    background: #333333;
    content: "";
}
.arrow-penilaian.vertical:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 0 10px 15px 10px;
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
    content: "";
}
.arrow-penilaian.vertical > .text {
    display: table;
    margin-top: 85px;
    margin-left: -10px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.advance-section + .advance-section {margin-top: 15px;}
.navbar, .content-home {
    padding-left: 2rem;
    padding-right: 2rem;
}
.advance-section .custom-control-label {display: block;}
.advance-section .badge {
    float: right;
    margin-top: 4px;
    padding-left: .35rem !important;
    padding-right: .35rem !important;
    font-size: 10px;
    background-color: rgba(0,0,0,.5);
    color: #ffffff;
}
.wtl-box, .sol-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wtl-box:before, .sol-box:before {
    position: absolute;
    top: 9px;
    right: 0;
    left: 0;
    content: "";
    background: rgba(0,0,0,.15);
    height: 3px;
}
.wtl, .sol {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    z-index: 1;
}
.wtl-lemah, .sol-lambat {text-align: left;}
.wtl-cukup, .sol-sedang {text-align: center;}
.wtl-kuat, .sol-cepat {text-align: right;}
.wtl-dot, .sol-dot {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: #999999;
}
.wtl-lemah .wtl-dot, .sol-lambat .sol-dot {margin: 0;}
.wtl-cukup .wtl-dot, .sol-sedang .sol-dot {margin: 0 auto;}
.wtl-kuat .wtl-dot, .sol-cepat .sol-dot {margin: 0 0 0 auto;}
.wtl-text, .sol-text {
    font-weight: bold;
    font-size: 80%;
}
.wtl.active .wtl-dot, .sol.active .sol-dot {
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    margin-top: -3px;
    margin-bottom: 3px;
    border: 6px solid #0092DC;
    box-shadow: 0 0 0 3px #ffffff;
}
.wtl.active .wtl-text span, .sol.active .sol-text span {
    background-color: #0092DC;
    color: #ffffff;
    padding: 1px 7px;
    border-radius: 5px;
}
.advance-card {
    position: sticky;
    top: 214px;
    height: 400px;
    overflow-y: auto;
    margin: 0;
}
.advance-card .card-body {
    height: 370px;
    overflow-y: auto;
}
.form-control.mandatory{
    border-color : #0092DC !important;
}
.form-control.error-mandatory{
    border-color : red !important;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #0092DC !important;
    background-color: #0092DC !important;
}
.nav-tabs.ptm-tab {
    background-color: #f1f1f1;
    border: none;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
}
.nav-tabs.ptm-tab .nav-item {
    margin-bottom: 0;
    margin-left: 1px;
}
.nav-tabs.ptm-tab .nav-link {
    color: #777777;
    border-radius: 0 !important;
    border: none !important;
    padding: 13px 20px;
}
.nav-tabs.ptm-tab .nav-item.show .nav-link, .nav-tabs.ptm-tab .nav-link.active {
    position: relative;
    color: #333333;
    font-weight: bold;
    background-color: #ffffff;
}
.nav-tabs.ptm-tab .nav-item.show .nav-link:before, .nav-tabs.ptm-tab .nav-link.active:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #0092DC;
    content: "";
}
.nav-tabs.ptm-tab + .tab-content {
    border: 1px solid #f1f1f1;
    border-top: none;
    padding: 25px .75rem;
    border-radius: 0 0 7px 7px;
    overflow: hidden;
}
.nav-pills.ptm-tab .nav-link {
    box-shadow: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    line-height: normal;
}
.nav-pills.ptm-tab .nav-link.active {
    background-color: #0092DC ;
    border-color: #0092DC ;
}
.btn-add-param {
    display: inline-block;
    background: #99ADBE;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
/*.select2-container {width: calc(100% - 10px) !important;}*/
.top-content {
    margin: -2rem -2rem 0;
    padding: 2rem 2rem 8rem;
    border-radius: 0 0 35px 35px;
    background-image: url(../img/bg-top-content.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 55% auto;
}
.top-content + div {margin-top: -6rem;}
.img-user {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    box-shadow: 0 10px 15px -8px rgba(0,0,0,.25);
}
.img-pemangku {
    float: left;
    width: 95px;
    height: 95px;
    border-radius: 15px;
    box-shadow: 0 10px 15px -8px rgba(0,0,0,.25);
}
.konten-pemangku {
    float: left;
    width: calc(100% - 95px);
    padding-left: 15px;
}
.text-user {
    float: left;
    width: calc(100% - 70px);
    padding-left: 24px;
}
.hallo-text {font-size: 30px;}
.container-fluid {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.img-bawahan {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.nama-bawahan {
    float: left;
    width: calc(100% - 30px);
    padding: 2px 0 0 10px;
}
.table-spacing {
    margin: -10px 0 0;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.table-spacing td {
    background-color: #f3f3f3;
    border: none !important;
    vertical-align: middle;
}
.table-spacing tr > td:first-child {border-radius: 10px 0 0 10px;}
.table-spacing tr > td:last-child {border-radius: 0 10px 10px 0;}
.card-news {
    position: relative;
    overflow: hidden;
    border: none !important;
    padding-top: 90%;
    box-shadow: 0 30px 30px -20px rgba(0,0,0,.35);
}
.card-news:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #000000; 
    background: -webkit-linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.4), rgba(0,0,0,0));
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.4), rgba(0,0,0,0));
    z-index: 0;
}
.card-news .title {
    font-size: 22px;
    margin-bottom: 10px;
}
.card-news-content {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    padding: 0 24px 24px;
    z-index: 1;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,.3);
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border: none;
    border-radius: 50px;
}
/*::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,.15);
}
::-webkit-scrollbar-track:active {
    background: rgba(0,0,0,.25);
}*/
::-webkit-scrollbar-corner {
    background: transparent;
}
.search-talent-type {
    border-color: transparent !important;
    border-radius: .35rem 0 0 .35rem !important;
    border-width: 2px !important;
}
.typeahead__container button {
    padding: .5rem .25rem !important;
    border-color: transparent !important;
    border-radius: 0 .35rem .35rem 0 !important;
    border-width: 2px !important;
}
#search_key_multiple {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}
.form-control {border: 2px solid rgba(0,0,0,.15);}
#search_key_multiple .select2-container {width: 100% !important;}
#search_key_multiple .select2-container + button {
    padding: .25rem !important;
    border-color: transparent !important;
    border-radius: 0 .35rem .35rem 0 !important;
    border-width: 2px !important;
    background-color: #ffffff;
}
#search_key_multiple .select2-container--default .select2-selection--multiple {
    border: 2px solid transparent !important;
    border-radius: .35rem 0 0 .35rem;
    min-height: 40px !important;
}
.text-ellipsis {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bg-talent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 85px;
    background-image: url(../img/bg-top-content.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 55% auto;
    z-index: 0;
}
.bg-talent + div {
    position: relative;
    padding-top: 30px;
    z-index: 1;
}
.top-content .modal-content {
    color: #333333;
}
.nav-tabs.side-tab {
    display: block;
    border: none;
}
.nav-tabs.side-tab > li + li {margin-top: 5px;}
.nav-tabs.side-tab > li > .nav-link {
    border-radius: .5rem;
    color: #333333;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.nav-tabs.side-tab > li > .nav-link:hover {
    border-color: transparent;
    background-color: rgba(0,0,0,.05);
}
.nav-tabs.side-tab .nav-item.show .nav-link, .nav-tabs.side-tab .nav-link.active,
.nav-tabs.side-tab .nav-item.show .nav-link:hover, .nav-tabs.side-tab .nav-link.active:hover {
    color: #ffffff;
    background-color: #0092DC;
    border-color: #0092DC;
}
.nav-tabs.side-tab > li i {margin-right: 10px;}



@media screen and (max-width: 767px) {
    .container, .container-fluid {
        padding-right: 1.25rem !important;
        padding-left: 1.25rem !important;
    }
    .top-menu > .nav-item > .nav-link > .menu-name {display: none;}
    .d-xs-none {display: none !important;}
    .login-wrapper {
        border-radius: 20px;
        overflow-x: hidden;
        box-shadow: none;
    }
    .login-wrapper .left-login {background: none;}
    .bg-login {background-size: auto 33%;}
    .site-login {padding: 50px 30px;}
    .nav-tabs.side-tab > li {display: inline-block;}
    .nav-tabs.side-tab > li i {margin-right: 0;}
    .nav-tabs.side-tab {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }
}